CMakeFiles/
.vscode/
lib/
Makefile
cmake_install.cmake
CMakeCache.txt
CMakeLists.txt
.gitmodules
.DS_Store
output
client
build/
../prototype/experiment/
main
fastfood_test
menu_burger_test
menu_taco_test
c_party_test
c_Cart_test